* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(45, 45, 45);
  color: white;
}
nav ul {
  display: flex;
}
ul li {
  list-style: none;
  padding: 3px 24px;
  font-size: 18px;
}
.logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.logo img {
  padding-right: 5px;
  width: 32px;
}
ul li a {
  color: white;
  text-decoration: none;
}
ul li a:hover {
  color: rgb(99, 96, 96);
}
.container {
  margin: 50px auto;
  padding: 20px 80px ;
  width: 500px;
  border-radius: 50px 50px;
  color:black;
  background-color:rgba(40, 40, 40,.1);
}
.container h1 {
  padding: 12px;
}
.container form {
  padding: 10px;
}
@media screen and (max-width: 660px) {
  .container {
    width: 200px;
    padding: 0px   70px 30px 20px ;
    font-size: 13px;
  }
  nav{
    flex-direction: column;
  }
}
@media screen and (max-width: 350px) {
  .container {
    width: 200px;
    padding: 0px 72px 12px 8px;
  }
  nav{
    flex-direction: column;
  }
}
.btn {
  margin: 12px;
  padding: 3px;
  cursor: pointer;
}
.btn:hover {
  border: 2px solid green;
}
#results ::first-letter{
text-transform:uppercase;
}
.container2{
  margin: 15px;
}